body{
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1160px;
  height: 120px;
  margin: 0 auto;
}

.header {
  margin: 0;
  width: 100%;
  background: rgba(94, 93, 88, 0.6);
  position: fixed;
  top: 0;
  z-index: 100;

}


.header-logo {
  display: inline-block;

}


.nav-link {
  margin-right: 21px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  position: relative;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.nav-link:hover {
  color: #18CFAB;
  border-bottom:2px solid  #18CFAB;
  padding-bottom: 50px;
}
.nav-link_img:hover{
  border-bottom:none;
}

.header_menu {
display: flex;
list-style: none;
box-sizing: border-box;
}


.nav-link img {
  width: 21.09px;
  height: 20px;
  text-decoration: none;
}

.home {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

.home-content {
  width: 100%;
  height: 897px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}


.home-title-first {

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 1px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 264px;
}

.home-first {
  color: #FFFFFF;
}

.home-last {

  color: #18CFAB;
}

.home-title-second {
  /* position: absolute; */
  width: 798px;
  height: 80px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 78px;
  line-height: 1px;
  color: #FFFFFF;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 22px;
  margin-top: 32px;
}

.home-title-third {
  width: 795px;
  height: 34px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1px;
  color: #D4D4D4;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.button {
  margin-top: 140px;
  width: 100%;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-first {
  width: 169px;
  height: 63px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  border: none;
  color: #FFFFFF;
  background: #18CFAB;
  border-radius: 10px;
  box-shadow: 0 -5px 0 white;
}


.btn-second {
  margin-left: 26px;
  width: 169px;
  height: 63px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  border: none;
  color: #FFFFFF;
  background: #00CBF6;
  border-radius: 10px;
  box-shadow: 0 -5px 0 white;
}

.wrapper {
  width: 100%;
  height: 370px;
  display: flex;
}


.options {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

.option-first {
  background: #1C2A33;
}

.option-second {
  background: #18CFAB;

}

.option-img-first {
  display: flex;
  justify-content: center;
  align-items: center;
}

.option-img-second {
  display: flex;
  justify-content: center;
  align-items: center;
}


.option-title-first {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #18CFAB;
  height: 25px;
  margin-top: 47px;
  text-align: center;
}

.option-title-second {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-top: 58px;
  color: #FFFFFF;
  height: 25px;
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

.services {
  display: flex;
  justify-content: center;
    flex-direction: column;
    text-decoration: none;
    width: 1160px;
    margin-left: auto;
    margin-right: auto; 
}
.service {
  display: flex;
}
.service-item {
  width: 194px;
  height: 72px;
  cursor: pointer;
  background: #F8FCFE;
  border: 1px solid #F2F2F2;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15.9859px;
  line-height: 39px;
  margin-bottom: 23px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #717171;

}

.service-item:hover {
  border: 1.5px solid #18CFAB;
}

.service-item.active-tab {
  background-color: #18CFAB;
  color: #FFFFFF;
  position: relative;
}

.active-tab::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background-color: #18CFAB;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%) rotate(45deg);
}


.item-tab {
  list-style: none;
  display: none;
  margin-bottom: 91px;
}

.item-tab.active-item {
  display: flex;
}

.item-tab img {
  width: 192px;
  height: 139px;
  margin-right: 15px;
}

.item-tab li {
  width: 952px;
  height: 136px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #777777;
}

.services-title {
  height: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #4E4E4E;
  margin-top: 83px;
  margin-bottom: 28px;
}

.img-services {

  display: flex;
  justify-content: center;
  align-items: center;
}

.img-services img {
  width: 91px;
  height: 8px;
  margin-bottom: 69px;
}


.purchase {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}
.purchase-block{
  width: 100%;
  height: 100%;
}
.purchase-content {
  width: 100%;
  height: 476px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}


.purchase-title-first {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #18CFAB;

  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 126px;
}


.purchase-title-second {

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #D8D8D8;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 62px;
  margin-top: 12px;
}

.button-purchase {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-purchase {
  width: 168px;
  height: 64px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  border: none;
  color: #FFFFFF;
  background: #18CFAB;
  border-radius: 10px;
  z-index: 2;
  box-shadow: 0 -5px 0 white;
}

/* .works {
  background: #E9EDEF;
  padding-top: 95px;
}
.work-wrapper{
  width: 1160px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 99px;
}
.work {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 69px;
} 

.work-item.active {
  color: #18CFAB;
  position: relative;
  border: 1px solid #18CFAB;
}
.work-item {
  list-style: none;
  cursor: pointer;
  color: #717171;
  transition: color .2s linear;
}

.work-item:hover {
  outline: 1px solid #18CFAB;
  outline-offset: -2px;
  box-sizing: border-box;
  color: #18CFAB;
}

.work-item-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
  padding: 14px 15px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #DADADA;  
}

.work-item-name.first-name {
  padding: 14px 28px;
}

.work-item-name.active-work {
  outline: 5px solid #18CFAB;
  outline-offset: -5px;
  color: #18CFAB;
}

.work-tab {
  list-style: none;
  display: none;
}

.work-tab.active {
  display: block;

}
.work-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  list-style: none;
  margin: auto;
  width: 1140px;
}

.work-images-item {
  max-width: 100%;
  display: block;
}
.back {
  display: none;
  text-align: center;
  font-weight: 300;
  font-size: 12px;
  line-height: 2.07;
  text-decoration: none;
  color: #8a8a8a;
  border-top: 2.37px solid #18cfab;
  background: #e9edef;
  width: 284px;
  height: 206px;
}

.work-images-item:hover .back {
  display: block;
}

.work-images-item:hover .front {
  display: none;
}

.img-back {
  height: 43px;
  margin-top: 46px;
  margin-bottom: 23.82px;   
}

.portfolio-category-name {
  font-weight: 700;
  font-size: 14.1771px;
  line-height: 25px;
  text-transform: uppercase;
  color: #18CFAB;
}

.portfolio-category {
  font-weight: 300;
  font-size: 12.1518px;
  line-height: 25px;
  color: #8A8A8A;
}
.work-title {
  height: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #4E4E4E;
  margin-bottom: 20px;
} */



/* .img-work {

  display: flex;
  justify-content: center;
  align-items: center;
}

.img-work img {
  width: 93px;
  height: 8px;
  margin-bottom: 69px;
}

.button-work {
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 99px;
}

.show-more {
  width: 168px;
  height: 63px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 42px;
  border: none;
  color: #FFFFFF;
  background: #18CFAB;
  display: flex;
  align-items: center;
  justify-content: center;
 cursor: pointer;
}

.show-more img {
  margin-right: 20px;
}

.work-images-hidden:nth-child(n + 1) {
  display: none;
  list-style: none;
}

.work-images-hidden.is-visible {
  display: block;
} */
.portfolio {
  background: #E9EDEF;
}

.portfolio-wrapper{
  width: 1160px;
  margin: 0 auto;
  text-align: center;
  padding-top: 95px;
  padding-bottom: 99px;
}

.portfolio-title {
  margin-bottom: 65px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.portfolio-title::before {
      position: relative;
      top: 50px ;
      left: 48%;
      content: "";
      display: block;
      background: #18CFAB;
      width: 75px;
      height: 1px;
}

.portfolio-title::after {
  position: relative;
  top: 14px ;
  left: 49%;
  content: "";
  display: block;
  background: #18CFAB;
  width: 75px;
  height: 1px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 69px;
}

.portfolio-item {
  list-style: none;
  cursor: pointer;
  color: #717171;
  transition: color .2s linear;
}

.portfolio-item:hover {
  outline: 1px solid #18CFAB;
  outline-offset: -2px;
  box-sizing: border-box;
  color: #18CFAB;
}

.portfolio-item-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
  padding: 14px 15px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #DADADA;  
}

.portfolio-item-name.first-name {
  padding: 14px 28px;
}

.portfolio-item-name.active {
  outline: 5px solid #18CFAB;
  outline-offset: -5px;
  color: #18CFAB;
}

.portfolio-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  list-style: none;
  margin: auto;
  width: 1140px;
}

.portfolio-gallery-item {
  max-width: 100%;
  display: block;
}

.portfolio-hidden-block {
  display: none;
  text-align: center;
  font-weight: 300;
  font-size: 12px;
  line-height: 2.07;
  text-decoration: none;
  color: #8a8a8a;
  border-top: 2.37px solid #18cfab;
  background: #e9edef;
  width: 284px;
  height: 206px;
}

.portfolio-gallery-item:hover .portfolio-hidden-block {
  display: block;
}

.portfolio-gallery-item:hover .portfolio-img {
  display: none;
}

.portfolio-icon-hidden {
  height: 43px;
  margin-top: 46px;
  margin-bottom: 23.82px;   
}

.portfolio-category-name {
  font-weight: 700;
  font-size: 14.1771px;
  line-height: 25px;
  text-transform: uppercase;
  color: #18CFAB;
}

.portfolio-category {
  font-weight: 300;
  font-size: 12.1518px;
  line-height: 25px;
  color: #8A8A8A;
}

.portfolio-btn {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 48px;
  height: 48px;
  margin: 75px auto 10px;
  border: 5px solid #18cfab;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.load-btn {
  display: flex;
  align-items: center;
  background: #18CFAB;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 42px;
}

.load-btn:hover {
  background: #12a285;
}

.btn-photo {
  margin-left: 15px;
  margin-bottom: 3px;
}

.btn-text {
  color: #FFFFFF;
  padding: 10px 15px;
  text-transform: uppercase;
}

.hide {
  display: none;
}


.breaking {
  width: 1160px;
  margin: 0 auto;
  text-align: center;
}

.breaking-title {

  height: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #4E4E4E;
  margin-bottom: 24px;
  margin-top: 82px;
}

.block-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 68px;
  margin-bottom: 128px;
}

.block {
  display: flex;
  padding-right: 25px;
  margin-bottom: 43px;
}

.breaking-item {
  position: relative;
  width: 265px;
  height: 281px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
}
.breaking-item:hover .breaking-text {
  color: #18CFAB;
}

.breaking-text {

  height: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 17.9885px;
  line-height: 39px;
  color: #717171;
  margin-bottom: -3px;
}

.breaking-comment {

  height: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 13.991px;
  line-height: 39px;
  color: #777777;
}

.breaking-content-item {
  width: 100%;

}

.breaking-img {
  width: 100%;
  display: flex;
}

.breaking-img img {
  width: 100%;
}

.hidden.is-visible {
  width: 100%;
  display: flex;
}

.is-visible {
  display: block;
}

.rectangle {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 68px;
  background: #203E38;
  text-align: center;
  align-items: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  padding-top: 5px;
}

.breaking-item:hover .rectangle {
  background: #18CFAB;

}


/* .feedback {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;

}

.feedback-content {
  width: 100%;
  height: 854px;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
}

.feedback-block {
  width: 100%;


}

.feedback-title-first {
  margin-top: 98px;
  margin-bottom: 29px;

  height: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #FFFFFF;
}

.feedback-text-block {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback-img img {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 33px;
}

.feedback-text {
  margin-top: 36px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
text-align: center;
  color: #BBBBBB;
  letter-spacing: 1.5px;
}

.feedback-name {
  margin-top: 37px;
  height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #18CFAB;
}

.feedback-position {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
  color: #BBBBBB;
  margin-bottom: 38px;
}

.feedback-carousel {
  width: 100%;
  margin-bottom: 98px;
}

.carousel-main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 10px;
  width: 31px;

}

.controls a:hover {
  background-color: #18CFAB;
  color: #FFFFFF;
}

.prev {
  border: 1px solid #BBBBBB;
  color: #BBBBBB;
  margin-right: 35px;
}

.next {
  border: 1px solid #BBBBBB;
  color: #BBBBBB;
  margin-left: 35px;
}

.carousel-all {

  margin-top: 51px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.carousel img {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-wrapper{
    width: 483px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.carousel-gallery li {
  display: inline-block;
  text-align: center;
} 
.feedback-comments {
  width: 1160px;
  height: auto;
  overflow: hidden;
}

.feedback-line {
  width: 4640px;
  height: 100%;
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
} */
.feedback {
  background-image: url(img/Layer\ 333.png);
  min-height: 852px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #2e4a5b83;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-wrapper {
  width: 1160px;
}

.feedback-title {
  padding-top: 100px;
  color: #ffffff;
  margin-bottom: 73px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #FFFFFF;
}

.feedback-text {
  color: #bbbbbb;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  padding-top: 43px;
  margin-bottom: 37px;
}

.feedback-text::before {
  content: "\275B \275B";
  color: #18cfab;
  display: block;
  font-size: 125px;
  margin-bottom: 36px;
}

.feedback-client {
  text-align: center;
}

.client-name {
  color: #18cfab;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  color: #18CFAB;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.client-position {
  color: #bbbbbb;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 300;
  padding-bottom: 50px;
}

.client-pic {
  margin: 0 auto;
  display: block;
  width: 143px;
  height: 142px;
  border: 2px solid #18cfab;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 11px rgba(24,207,171,0.27);
}

.client-slider {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  position: relative;
  padding-bottom: 104px;
}

.slider-pic {
  width: 59px;
  height: 59px;
  border: 2px solid transparent;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 5px rgba(24,207,171,0.27);
  margin-right: 38px;
  cursor: pointer;
  position: relative;
  transition: all 0.4s ease-in-out;
}

.slider-pic.slider-pic-active {
  top: -15px;
  border-color: #18cfab;
}

.slider-arrow {
  padding: 4.44px 9.317px;
  border: 1px solid grey;
  position: absolute;
  top: 15px;
  text-decoration: none;
  color: grey;
  font-weight: 700;
  font-size: 20px;
}

.slider-arrow:hover {
  background-color: #18cfab;
  border-color: #18cfab;
  color: white;
  cursor: pointer;
}

.slider-arrow.prev {
  left: 290px;
}

.slider-arrow.next {
  right: 320px;
}

.footer{
  width: 100%;
  background: #22353F;
}

.footer-text{
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #AEAEAE;
  text-align: center;
  padding: 48px 0;
}

.footer-element{
  color: #AEAEAE;
}

.footer-element::before{
  content: "|";
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.footer-text-color {
  color: #18CFAB;
}
